.shape
{
    background-color: #333333;
}

.shape:hover
{
    border-width: 2px;
    border-color: #AAAAAA;
}

#capsule-thumbnail
{
    background-image: url("../Textures/UIRenderTexture.renderTexture");
}
